<head>
  <meta charset="utf-8">

  <title>Get Started</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  <div class="text-center row__main-logo">
    <img src="/imgs/lobster-card-logo.svg" class="logo__main" alt="Lobster.Cards logo">
  </div>
  <h2 class="text-center underlined"><%= message %></h2>
  <div class="text-center card__front card__anim">
    <img src="/imgs/card-front.svg" alt="">
    <p class="font__small">
        (This is a sample QR code.)
    </p>
  </div>

</body>
