<html>

<head>
  <title>IPFS Video Stream</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <style>

  </style>

</head>

<body>


  <div class="text-center row__main-logo">
    <img src="../imgs/lobster-card-logo.svg" class="logo__main" alt="Lobster.Cards logo">
  </div>

  <div class="container">
    <div class="row__bordered w-80">
      <div class="d-block text-center row__meme-content">
        <img src=<%= url %>
      </div>
    </div>
  </div>

  <div class="row__voting">
    <div class="vote__left">
      <span class="vote__left--number"></span>
      <img class="vote__down--img" src="../imgs/thumbs-down.svg" alt="thumbs-down">
    </div>
    <div class="vote__right">
      <img class="vote__up--img" src="../imgs/thumbs-up.svg" alt="thumbs-up">
      <span class="vote__right--number"></span>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

</body>

</html>
